body{
    background-color: rgb(110, 108, 108);
    width: 100%;
    height: 700px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
button{
    margin-left: 100px;
    margin-top: 10px;
}
